@charset "UTF-8";

/* ============================================ *
 * Common styling elements
 * ============================================ */
.cta {
    display: inline-block;
    &:after {
        content: $icon-arrow-flat-right;
        display: inline-block;
        font-family: 'rsficon';
        margin-left: 4px;
        vertical-align: middle;
    }
}

.page-header {
    position: relative;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    @include background-size(cover);
    min-height: 200px;
    .title {
    	line-height: 60px;
    	font-size: 30px;
    	color: $c-white;
    	background: rgba(0,0,0,0.6);
    	position: absolute;
    	left: 0;
    	bottom: 10%;
    	text-align: right;
    	padding: 0 30px
    }
}

@include bp(min-width, $bp-xsmall + 1) {

}

@include bp(min-width, $bp-small + 1) {
	.page-header {
	    .title {
	    	line-height: 80px;
	    	font-size: 40px;
	    	padding-left: 60px;
	    }
	}
}

@include bp(min-width, $bp-medium + 1) {
	.page-header {
	    .title {
	    	padding-left: 100px;
	    }
	}
}

@include bp(min-width, $bp-large + 1) {
	.page-header {
	    .title {
	    	padding-left: 140px;
	    }
	}
}

@include bp(min-width, $bp-xlarge + 1) {
	.page-header {
	    .title {
	    	padding-left: 0;
	    	right: 60%;
	    }
	}
}

/**
 * 8.0 - Alignments
 */

.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}
