.home {
    .page-header {
        min-height: auto;
        .intro-block {
            background: rgba(0,0,0,0.7);
            color: $c-white;
            margin-top: 50px;
            margin-bottom: 20px;
            padding: 20px;
            h1 {
                font-size: $f-size;
                line-height: 18px;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            p {
                font-weight: $f-weight-light;
            }
        }
    }
}

#hp-panels {
    font-size: 0;
    li {
        display: block;
        padding-top: 12px;
        margin-bottom: 30px;
        .image-crop {
            @include box-shadow(0 0 16px rgba(0,0,0,0.6));
            border-radius: 113px;
            height: 226px;
            margin: 0 auto 20px auto;
            overflow: hidden;
            width: 226px;
            img {
                max-width: none;
                width: auto;
                height: 100%;
                transform: translate(-25%, 0);
            }
        }
        .colour-panel {
            color: $c-white;
            padding: 20px 20px 40px 20px;
            position: relative;
            max-width: 300px;
            margin: 0 auto;
            &.red {
                background-color: $c-red-3;
            }
            &.blue {
                background-color: $c-blue-3;
            }
            &.orange {
                background-color: $c-orange-3;
            }
            &.green{
                background-color: $c-green-3;
            }
            h2 {
                font-size: $f-size-xl;
                line-height: 17px;
                text-align: center;
                text-transform: uppercase;
            }
            p {
                font-size: 14px;
                font-weight: $f-weight-light;
            }
            .cta {
                bottom: 20px;
                color: $c-white;
                font-size: 14px;
                position: absolute;
                right: 20px;
                &:hover {
                    color: $c-black;
                }
            }
        }
    }
}

@include bp(min-width, $bp-xsmall + 1) {

}

@include bp(min-width, $bp-small + 1) {
    #hp-panels {
        li {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            padding: 12px 1% 0 1%;
        }
    }
}

@include bp(min-width, $bp-medium + 1) {
    .page-header {
        .intro-block {
            width: 50%;
        }
    }
    #hp-panels {
        li {
            width: 25%;
            .image-crop {
                border-radius: 79px;
                height: 158px;
                width: 158px;
            }
        }
    }
}

@include bp(min-width, $bp-large + 1) {
    .page-header {
        .intro-block {
            width: 40%;
        }
    }
    #hp-panels {
        li {
            .image-crop {
                border-radius: 92px;
                height: 184px;
                width: 184px;
            }
        }
    }
}

@include bp(min-width, $bp-xlarge + 1) {
    .page-header {
        .intro-block {
            margin-left: 50px;
            width: 35%;
        }
    }
    #hp-panels {
        li {
            .image-crop {
                border-radius: 114px;
                height: 228px;
                width: 228px;
            }
        }
    }
}
