.production-archive {
	padding-bottom: 20px;
    li {
        width: 100%;
        padding: 20px;
        margin-bottom: 30px;
        @include box-shadow(0 0 10px rgba(0,0,0,0.3));
        &:hover {
            @include background-image(linear-gradient(to bottom right, white, lighten($c-lgrey, 15%)));
        }
    }
    .image-container {
        margin-bottom: 20px;
    }
    .copy-container {

    }
    .production-details {
        display: block;
        p {
            margin-bottom: 4px;
            strong {
                margin-right: 6px;
                display: inline-block;
            }
        }
        margin-bottom: 10px;
    }
}

.production-list {
	display: block;
	margin-bottom: 0;
	li {
		padding: 6px 8px;
	}
	.year {
		font-weight: bold;
		margin-right: 6px;
	    font-size: 15px;
	}
}

@include bp(min-width, $bp-xsmall + 1) {

}

@include bp(min-width, $bp-small + 1) {
    .production-archive {
        li {
            & > div {
                display: inline-block;
                vertical-align: top;
            }
            .image-container {
                width: 45%;
                float: right;
                margin-left: 3%;
                img {
                    width: 100%;
                }
            }
            .copy-container {
                width: 51%;
            }
            .production-details {
                p {
                    display: inline-block;
                    vertical-align: top;
                    width: 51%;
                    margin-right: 3%;
                    &:nth-of-type(2) {
                        width: 45%;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@include bp(min-width, $bp-medium + 1) {
    .production-archive {
        li {
            .image-container {
                width: 38%;
            }
            .copy-container {
                width: 58%;
            }
        }
    }
    .production-list {
    	float: left;
    	margin-right: 30px;
    	li {
    		padding: 6px 8px;
    		&:hover {
    			background: lighten($c-lgrey, 12%);
    			.year {
    				color: $c-red-3;
    			}
    		}
    	}
    }
}

@include bp(min-width, $bp-large + 1) {
    .production-archive {
        li {
            width: 47%;
            display: inline-block;
            vertical-align: top;
            margin-right: 2%;
            &:nth-of-type(2n) {
                margin-right: 0;
            }
            .image-container {
                width: 45%;
            }
            .copy-container {
                width: 51%;
            }
        }
    }
}

@include bp(min-width, $bp-xlarge + 1) {

}
