
// Colours

$c-red-1: #FD8285;
$c-red-2: #F5575B;
$c-red-3: #E23035;
$c-red-4: #BD1317;
$c-red-5: #960105;

$c-orange-1: #FFBA83;
$c-orange-2: #F89F58;
$c-orange-3: #E48030;
$c-orange-4: #BF5F13;
$c-orange-5: #974401;

$c-blue-1: #5DB5B1;
$c-blue-2: #359693;
$c-blue-3: #1D8B86;
$c-blue-4: #0C7470;
$c-blue-5: #015C59;

$c-green-1: #76DB71;
$c-green-2: #4EC947;
$c-green-3: #2EB927;
$c-green-4: #169A10;
$c-green-5: #077B01;