@charset "UTF-8";

/* ============================================ *
*  Footer
* ============================================ */

footer {
    margin-top: 30px;
    padding-top: 30px;
    background-color: $c-red-4;
    border-top: 30px solid $c-dgrey;
    color:$c-white;
    .copyright {
        font-size: $f-size-s;
        font-weight: $f-weight-light;
        text-align: center;
        margin-top: 30px;
    }
}

.footer-block {
    display: block;
    width: 100%;
    text-align: center;
    h4 {
        font-size: $f-size;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: $f-weight-normal;
    }
    .associated {
        margin-bottom: 50px;
        display: inline-block;
        vertical-align: top;
        width: 37%;
        text-align: center;
        img {
            display: block;
            margin: 0 auto 10px;
            height: 40px;
        }
        span {
            display: block;
            font-size: $f-size-xs;
            font-weight: $f-weight-light;
            width: 130px;
        }
    }
    .social {
        margin-bottom: 40px;
        text-align: center;
        li {
            display: inline-block;
            font-family: 'rsficon';
            font-size: 26px;
            line-height: 30px;
            margin-left: 12px;
            &:first-of-type {
                margin-left: 0;
            }
        }
    }
    .script {
        font-family: $f-stack-special;
        font-size: 38px;
        line-height: 32px;
        text-align: center;
        max-width: 80%;
        margin: 0 auto 40px;
    }
    address {
        font-size: $f-size-s;
        line-height: 18px;
    }
}

// ========================
// Extra small breakpoint
// ========================
@include bp(min-width, $bp-xsmall + 1) {

}
// ========================
// Small breakpoint
// ========================
@include bp(min-width, $bp-small + 1) {
    .footer-block {
        display: inline-block;
        width: 33%;
        vertical-align: top;
        text-align: left;
        &.right {
            text-align: right;
        }
        h4 {
            margin-bottom: 20px;
        }
        .associated {
            margin-bottom: 20px;
            display: block;
            text-align: left;
            width: auto;
            img {
                display: inline-block;
                margin: 0 10px 0 0;
                max-width: 70px;
                height: auto;
            }
            span {
                display: inline-block;
                vertical-align: top;
            }
        }
        .script {
            font-size: 34px;
            line-height: 27px;
        }
        .social {
            li {
                margin-left: 8px;
                font-size: 19px;
            }
        }
    }
}
// ========================
// Medium breakpoint
// ========================
@include bp(min-width, $bp-medium + 1) {

}
// ========================
// Large breakpoint
// ========================
@include bp(min-width, $bp-large + 1) {
    .footer-block {
        .script {
            font-size: 38px;
            line-height: 32px;
            margin-bottom: 0;
        }
        .social {
            li {
                margin-left: 12px;
                font-size: 26px;
            }
        }
    }
}
// ========================
// Extra large breakpoint
// ========================
@include bp(min-width, $bp-xlarge + 1) {

}
